h1 {
    text-align: center;
}

h2 {
    padding: 1%;
    text-align: center;
}

div {
    margin-left: 25%;
    margin-right: 25%;
}

p {
    font-size: 18px;
    text-align: left;
    line-height: 2;
}