html {
    background-color: rgb(172, 172, 172);
}

h1 {
    text-align: center;
}

h2 {
    padding: 1%;
    text-align: center;
}

.pgraphs {
    margin-left: 20%;
    margin-right: 20%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2, 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-left: 20%;
    margin-right: 20%;
}

.div1 { grid-area: 1 / 1 / 2 / 6; }
.div2 { grid-area: 2 / 1 / 3 / 4; }

.div3 { 
    grid-area: 2 / 4 / 3 / 6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 10px;
    border-color: black;
    margin: auto;
}

.images {
    float: right;
    padding: 10px;
}

p {
    font-size: 18px;
    text-align: justify;
    line-height: 2;
    text-indent: 65px;
}